node_modules/
.expo/
.expo-shared/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
.env
.env.local
.env.*.local
*.log
.DS_Store
/build
/android/app/debug
/android/app/release
Pods/
Podfile.lock
*.xcworkspace
.idea/
.vscode/
*.sublime-project
*.sublime-workspace
